<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <input
         class="form-control"
         name="input-repository-search"
         id="input-repository-search"
         placeholder="react, highcharts, etc..."
      />
    </div>
  </div>
</div>
